# Start Optimus changes
# Many of these tweaks are thanks to AK, Franco,Nathan Chancellor & frap129.

on property:sys.boot_completed=1
    # Set GPU Governor
    write /sys/devices/soc.0/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor simple_ondemand

    # Re-enable retention idle state
    write /sys/module/lpm_levels/system/cpu0/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu1/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu2/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu3/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu4/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu5/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu6/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu7/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/l2-retention/idle_enabled 1

    # Disable some Wlan wakelocks
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0
    write /sys/module/wakeup/parameters/enable_ipa_ws 0
    write /sys/module/wakeup/parameters/enable_bluedroid_timer_ws 0
    write /sys/module/wakeup/parameters/enable_timerfd_ws 0
    write /sys/module/wakeup/parameters/enable_netlink_ws 0

    # Optimus Gov
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor optimus
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor optimus
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/optimus/sampling_rate
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/optimus/sampling_rate
    write /sys/devices/system/cpu/cpu0/cpufreq/optimus/sampling_rate 50000
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/optimus/sampling_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/optimus/sampling_rate
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/optimus/sampling_rate
    write /sys/devices/system/cpu/cpu4/cpufreq/optimus/sampling_rate 50000
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/optimus/sampling_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/optimus/optimal_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/optimus/optimal_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/optimus/optimal_freq 1113600
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/optimus/optimal_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/optimus/optimal_freq
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/optimus/optimal_freq
    write /sys/devices/system/cpu/cpu4/cpufreq/optimus/optimal_freq 998400
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/optimus/optimal_freq

    # Set I/O Scheduler tweaks
    write /sys/block/mmcblk0/queue/rq_affinity 0
    write /sys/block/mmcblk0/bdi/min_ratio 5
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/iosched/writes_starved 4
    write /sys/block/mmcblk0/queue/iosched/fifo_batch 16
    write /sys/block/mmcblk0/queue/iosched/sync_read_expire 350
    write /sys/block/mmcblk0/queue/iosched/sync_write_expire 550
    write /sys/block/mmcblk0/queue/iosched/async_read_expire 250
    write /sys/block/mmcblk0/queue/iosched/async_write_expire 450
    write /sys/block/mmcblk0/queue/iosched/sleep_latency_multiple 10

    # Misc
    write /proc/sys/kernel/random/read_wakeup_threshold 128
    write /proc/sys/kernel/random/write_wakeup_threshold 256
